/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* General */
.bold-text {
    font-weight: bold;
}

/* Buttons */
button.loading {
    background-image: url("./../images/ajax-loader.gif") !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    color: transparent !important;
}

/* Links */
#wp-admin-bar-wetory-support-settings a.ab-item img {
    vertical-align: middle;
    opacity: 0.5;
}
#wp-admin-bar-wetory-support-settings a.ab-item img:hover {
    opacity: 1;
}

/* Widget - Posts */
.wetory-widget.posts-widget ul .post-title {
    font-size: 1rem !important;
}
.wetory-widget.posts-widget ul.posts-listing,
.wetory-widget.posts-widget ul.posts-tiles {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.wetory-widget.posts-widget ul.posts-listing li .post-thumbnail {
    float: left;
    margin-right: 10px;
}
.wetory-widget.posts-widget ul.posts-tiles li,
.wetory-widget.posts-widget ul.posts-tiles li .post-thumbnail {
    margin-bottom: 15px;
}
.wetory-widget.posts-widget .posts-tiles li .post-thumbnail,
.wetory-widget.posts-widget .posts-tiles li .post-title,
.wetory-widget.posts-widget .posts-tiles li .post-date {
    text-align: center;
    display: block;
}
.wetory-widget.posts-widget ul li .post-thumbnail a:hover {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}
.wetory-widget.posts-widget .link-wrapper {
    width: 100%;
    margin-top: 30px;
}

/* Widget - Icon Box */
.wetory-widget.wetory-icon-box .icon-wrapper {
    text-align: center;
}
.wetory-widget.wetory-icon-box .icon-wrapper .icon {
    font-size: 70px;
    display: inline;
}
.wetory-widget.wetory-icon-box .title,
.wetory-widget.wetory-icon-box .text-wrapper {
    text-align: center;
}

/* Templates - Posts table */
table.wetory-table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    line-height: 2;
    margin: 0 0 20px;
    width: 100%;
}
table.wetory-table td,
table.wetory-table th {
    padding: 5px 10px;
    border: 1px solid #dadada;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
}
table.wetory-table th {
    background: #dadada;
}
table.wetory-table .no-results {
    padding-top: 10px;
}

/* Templates - Posts grid */
.wetory-grid .wetory-grid-item {
    margin-bottom: 30px;
}
.wetory-grid .wetory-grid-item .card .card-img-top {
    height: 250px;
    object-fit: cover;
    padding: 0;
}
.wetory-grid .wetory-grid-item .card .card-body {
    min-height: 150px;
}

/* Templates - Posts grid - Item - Team Members */
.wetory-grid.wcpt-team-members .wetory-grid-item .card {
    text-align: center;
}
.wetory-grid.wcpt-team-members .wetory-grid-item .card .card-title {
}
.wetory-grid.wcpt-team-members .wetory-grid-item .card .team-member-position {
    color: #A3A3A3;
    font-size: 15px;
    line-height: 30px;
}
.wetory-grid.wcpt-team-members .wetory-grid-item .card .team-member-contact {
}
.wetory-grid.wcpt-team-members .wetory-grid-item .card .team-member-availability {
}
.wetory-grid.wcpt-team-members .wetory-grid-item .card .team-member-availability.online {
    background-color: #549d1e;
    color: #FFF;
    font-weight: bold;
}

/* Loadmore */
.wetory-posts-pagination-loadmore {
    width: 100%;
    text-align: center;
}
.wetory-ajax-loadmore-wrapper {
    margin-top: 15px;
}

/* Posts filters */
form.wetory-ajax-filter {
}
form.wetory-ajax-filter .filter-inputs {
    padding: 25px 20px 15px 20px;
    background: #f3f3f3;
    border: 1px solid #e1e2e1;    
    margin-bottom: 10px;
}
form.wetory-ajax-filter .filter-heading,
form.wetory-ajax-filter .filter-footer {
    padding-bottom: 10px;
}
form.wetory-ajax-filter .filter-title,
form.wetory-ajax-filter .filter-title i.dashicons {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}
form.wetory-ajax-filter .form-control,
form.wetory-ajax-filter .input-group-text {
    font-size: 16px;
}
form.wetory-ajax-filter button[type="submit"],
form.wetory-ajax-filter button[type="reset"] {
    padding: 5px 10px;
    text-transform: none;
}
form.wetory-ajax-filter button[type="reset"] {
    margin-right: 10px;
    background: #dadada;
    color: #000;
}
form.wetory-ajax-filter .filter-status {
    display: none;
}
form.wetory-ajax-filter .filter-status.loading {
    display: inline-block;
}

/* Responsive mobile devices support */

/* extra small devices */
@media (max-width: 576px) {

}

/* small devices */
@media (max-width: 768px) {

}

/* medium devices */
@media (max-width:992px) {

}

/* large devices */
@media (max-width:1200px) {

}

/* xlarge devices */
@media (min-width:1200px) {

}