/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
/* Settings */
.wrap.wetory-support-settings .form-table th {
    width: 300px;
}

.wrap.wetory-support-settings .form-table th,
.wrap.wetory-support-settings .form-table td {
    padding: 10px 10px 10px 0
}

.wetory-support-plugin-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wetory-support-plugin-footer {
    margin-top: 25px;
    display: inline-block;
    width: 100%;
}

.wetory-support-plugin-footer .wetory-support-plugin-branding {
    width: 100%;
    text-align: center;
}

.wetory-support-plugin-branding-logo img {
    width: 130px;
    margin-top: 1rem;
}

.wetory-support-tab-container {
    padding: 5px 15px 15px 15px;
    background: #fff;
    box-shadow: 0px 2px 2px #ccc;
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

/* Repeatable parts */
.wetory-support-tab-footer {
    padding: 15px;
    background: #f5f5f5;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
}

.wetory-support-grid-wrapper *,
.wetory-support-row * {
    box-sizing: border-box;
}

.wetory-support-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin-left: -12.5px;
    margin-right: -12.5px;
}

.wetory-support-col,
.wetory-support-col-1,
.wetory-support-col-2,
.wetory-support-col-3,
.wetory-support-col-4,
.wetory-support-col-5,
.wetory-support-col-6,
.wetory-support-col-7,
.wetory-support-col-8,
.wetory-support-col-9,
.wetory-support-col-10,
.wetory-support-col-11,
.wetory-support-col-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12.5px;
    padding-left: 12.5px;
}

.wetory-support-col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

/* Tables */
table.groupped-values td.group {
    background: #f1f1f1;
    color: #CCC;
}

table.groupped-values tr.group td {
    border-top: 1px solid #ccd0d4;
}

table.wetory-settings-table {
    margin: 20px 0px;
}

table.wetory-settings-table tbody {
    background: #fff;
}

table.wetory-settings-table tbody tr {
    border-top: 1px solid #ccd0d4;
}

table.wetory-settings-table tbody tr.data-category-name td {
    background: #f1f1f1;
    padding: 5px !important;
    font-weight: normal;
}

table.wetory-settings-table td,
table.wetory-settings-table th {
    padding: 5px 5px;
}

table.wetory-settings-table td.compact,
table.wetory-settings-table th.compact {
    width: 1%;
}

table.wetory-settings-table td:first-child,
table.wetory-settings-table th:first-child {
    padding-left: 5px !important;
    font-weight: bold;
}

table.wetory-settings-table .col-checkbox,
table.wetory-settings-table .col-select {
    text-align: center;
}

table.wetory-settings-table td.col-select select {
    min-width: 50%;
    max-width: 50%;
}

/* Tab Navigation */
.wetory-support-nav-tab-wrapper {
    margin-top: 10px;
}

.wetory-tab-link {
    cursor: pointer;
}

.wetory-tab-content {
    display: none;
}

.wetory-support-nav-tab-wrapper .nav-tab-active {
    background: #fff;
    border-bottom: solid 1px #fff;
}

.wetory-support-tab-content {
    display: none;
    float: left;
    width: 100%;
    height: auto;
    padding: 10px 0px 30px 0px;
}

.wetory-support-sub-tab {
    display: inline-block;
    margin: 0px;
    width: 100%;
    height: auto;
}

.wetory-support-sub-tab li {
    display: inline-block;
    border-left: solid 1px #ccc;
    padding: 3px 10px;
    cursor: pointer;
}

.wetory-support-sub-tab li:first-child {
    border-left: none;
    padding-left: 0px;
}

/* Alerts - Inheritted from Bootstrap 3 */
.alert {
    padding: 10px;
    margin: 10px 0 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* Links */
.link-button {
    position: relative;
    display: inline-flex;
    margin-left: 10px;
}

.link-button .button {
    padding: 3px 6px;
    min-height: 20px;
    line-height: inherit;
}

a.reload-page {
    cursor: pointer;
    text-decoration: underline;
}
#wp-admin-bar-wetory-support-settings a.ab-item img {
    vertical-align: middle;
    opacity: 0.5;
}
#wp-admin-bar-wetory-support-settings a.ab-item img:hover {
    opacity: 1;
}

/* Buttons */
.button-secondary.danger,
.button-secondary.danger:hover {
    color: #e14d43;
    border-color: #e14d43;
}

/* Content */
.settings-field-description {
    font-style: italic;
    font-size: 12px;
    display: inline-block;
    width: 100%;
    margin-top: 5px
}

/* Tooltips */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
    margin-left: 5px;
}

.tooltip .tooltip-icon {
    background: #000;
    border-radius: 50%;
    width: 16px;
    display: inline-block;
    height: 16px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    line-height: 15px;
    font-size: 15px;
    font-weight: bold;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    z-index: 999;
    bottom: 125%;
    left: 50%;
    margin-left: -110px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Select2 */
.select2-container {
    width: 100% !important;
}

/* Widget */
.widgets-holder-wrap .widget .widget-link-options {
    padding: 5px 10px 1px 10px;
    background: #EEE;
    margin: -20px 0px 10px;
}

/* Metaboxes */
.wetory-metabox-field {
    margin-bottom: 10px;
}

.wetory-metabox-field .wetory-metabox-label label {
    font-weight: bold;
    margin: 0 0 3px;
}

.wetory-metabox-field span.wetory-required {
    color: #F00;
}

.wetory-metabox-field .description {
    font-size: 13px;
    font-style: italic;
}

.wetory-metabox-field .wetory-metabox-input input {
    width: 100%;
}

/* Notofication */
.wetory-support-plugin-notifications {
    display: inline-block;
    width: 100%;
}